html {
  font-family: outfit;
}

body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  font-family: outfit;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input,
button {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  font-family: outfit;
  background-color: #9c0000;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #710000;
}

#weatherResult {
  margin-top: 20px;
}

.weather-info {
  margin: 10px 0;
}

.dark-mode .container {
  background: #151515;
  color: #f2f2f2;
}

.dark-mode {
  background: #101010;
}

#map {
  width: 100%;
  height: 400px;
  display: none; /* Hide the map initially */
}

#mapTitle {
  display: none; /* Hide the map title initially */
}

.dark-mode cityInput{
  background: #101010;
}
